.topline{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
}

#toplinecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionone{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#greenbtn{
    background-color: rgba(203,227,198,255);
    color: white;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 5px;
        margin-top: 20px;
}

#whitebtn{
    background-color: rgba(248,242,236,255);
    color: white;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 5px;
        margin-top: 20px;
}

#redbtn{
    background-color: rgb(221, 0, 0);
    color: white;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 5px;
        margin-top: 20px;
}

.sectionone h2 {
    color: rgb(255, 255, 255);
    text-align: center;

}